/target
.vscode
sift/
*.tar.gz
*.db
*.bin
*.out
venv/

vendor/
dist/

*.pyc
*.db-journal
*.svg

alexandria/
openai/
examples/supabase-dbpedia
examples/ann-filtering
examples/dbpedia-openai
examples/imdb

sqlite-vec.h
