/target
/Cargo.lock
.vscode
sift/
*.tar.gz
*.db
*.npy
*.bin
*.out
venv/
.venv

vendor/
dist/

*.pyc
*.db-journal
build/
*.egg-info/
sqlite_vec.py
sqlite_vec/
vec0.so
vec0.dylib
vec0.dll

alexandria/
openai/
examples/supabase-dbpedia
examples/ann-filtering
examples/dbpedia-openai
examples/imdb
examples/sotu

tmp/

poetry.lock

*.jsonl

memstat.c
memstat.*
