/target
.vscode
sift/
*.tar.gz
*.db
*.npy
*.bin
*.out
venv/

vendor/
dist/

*.pyc
*.db-journal

alexandria/
openai/
examples/supabase-dbpedia
examples/ann-filtering
examples/dbpedia-openai
examples/imdb
examples/sotu

sqlite-vec.h
tmp/

poetry.lock

*.jsonl

memstat.c
memstat.*
